.container{
     display:flex;
     background: #f9f9f9;
}
.header {
     display: flex;
     justify-content: center;
     height: 5vh;
     width: 100vw;
     color: white;
     background: linear-gradient(to right, #dac3ee, #755393);
     font-size: 30px;
     padding: 10px 20px;
     font-family: 'Inter-Bold';
     font-weight: bold;
   }
